/* *{
    padding: 0%;
    margin: 0%;
} */

 #div2{
    height: 100px;
    width: 100px;
    background-color: pink;
    /* border-width: 2px;
    border-style: solid ;
    border-color: blueviolet; */
    border: 3px solid rgb(183, 32, 32);
    margin: 10px;
    border-radius: 10px ;
    text-align: center;
    padding: 5px;
 }
 h1{
    width: 200px;
    height: 100px;
    background-color: lightblue;
    border: 3px dotted black;
    border-radius: 50%;
    border-width: 10px;
    text-align: center;
 }
 #div1{
    height: 100px;
    width: 100px;
    border: 3px solid red;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    background-color: darkseagreen;
 }
 .box{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: aquamarine;
    border: 4px double pink;
    border-radius: 10%;
    text-align: center;
 }